<style type="text/css">
  .site-footer a {
    color: black;
    font-size: 110%;
  }
</style>
<footer class="site-footer">
    <div class="container">
        <div class="col-md-4">
          <div class="row">
            <a class="user-name" href="{{ site.baseurl }}/">{{ site.name }}</a>
          </div>
          <div class="row">
            <p class="user-designation">{{ site.desgination }} @ {{ site.team }}, {{ site.company }}</p>
          </div>            
        </div>  
        <div class="col-md-8">
          <nav class="site-nav">
            <a class="page-link" href="{{ site.github_username | prepend: "https://github.com/" }}"><img class="img_icons" src="/assets/img/github.svg"></a>
            <a class="page-link" href="{{ site.twitter_username | prepend: "https://twitter.com/" }}"><img class="img_icons" src="/assets/img/twitter.svg"></a>
            <a class="page-link" href="{{ site.linkedin_username | prepend: "https://linkedin.com/in/" }}"><img class="img_icons" src="/assets/img/linkedin.svg"></a>
          </nav>
        </div>
    </div>
</footer>